<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
<title>Index</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Import the Materialize Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Import fonts from Googlefonts-->
<link
	href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
	rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
	
</script>
</head>
<body>

	<footer class="page-footer transparent">
		<div class="container">
			<h1 class="center-align">Symphony Used Bikes Web App!</h1>

			<div class="card-panel hoverable #424242 grey darken-3">
				<ul class="center-align">
					<li><a href="/insert"
						class="btn waves-effect waves-orange container">Insert<i
							class="material-icons right">add_circle</i>
					</a></li>

					<li><a href="/update"
						class="btn waves-effect waves-orange container">Update<i
							class="material-icons right">update</i>
					</a></li>

					<li><a href="/secure/delete"
						class="btn waves-effect waves-orange container">Delete<i
							class="material-icons right">delete</i>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container right-align">&copy; 2020 Created By:
				Josua Christyanton</div>
		</div>
	</footer>
</body>
</html>